@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    background-color: rgb(207, 205, 205);
}

#paragraph1 {
    margin-bottom: 50px;
    margin-left: 50px;
}

h1,
h2,
h3 {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: xx-large;
}
/*header*/
header {
    color: rgb(14, 14, 13);
}

header>p {
    color: rgb(27, 30, 8)
}

div.transbox {
    margin: auto;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

header {
    background-color: black;
}

#home {
    background-image: url('https://www.stockvault.net/data/2014/03/14/154614/preview16.jpg');
    height: 600px;
    width: 100%;
}

input[type=text],
input[type=email],
input[class=form-control],
select[class=form-select] {
    height: 30px;
    width: 50%;
    padding-left: 10px;
    margin: 0 auto;
}

/* padding */
#contact {
    margin-bottom: 50px;
    margin-left: 50px;
}

/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 107px;
    margin-left: 50px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* footer*/
footer {
    background-color: #151414;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
}

footer>span {
    color: silver;
}

footer>a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
    font-size: 0.8rem;
}

footer>p {
    color: silver;
}